@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import "./base.css";

#app {
  font-weight: normal;
}

select,
input {
  font-family: 'Open Sans',sans-serif;
  width: auto;
  font-size: 1.5rem;
  line-height: 1.25;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border-width: 1px;
  margin-right: 0.5rem;
}

header,
main {
  width: 75vw;
  margin: 0 auto;
}

header {
  margin-top: 2rem;
}

p {
  font-size: 1.25rem;
}

a {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

h1, h2, h3, h4, h5, h6, fieldset {
  margin-bottom: 2rem;
}

button {
  background: var(--color-button);
  font-size: 1.5rem;
  border: 0;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  cursor: pointer;
  box-shadow: 2px 2px rgb(205, 210, 198, 0.5);
}

button:hover {
  transition: box-shadow 0.2s;
  box-shadow: 2px 2px rgb(205, 210, 198, 1);
}

button:focus {
  transform: scale(0.98);
  box-shadow: 2px 2px rgb(205, 210, 198, 1);
}