@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import "./base.css";

#app {
  font-weight: normal;
}

select,
input {
  font-family: 'Open Sans',sans-serif;
  width: auto;
  font-size: 1.5rem;
  line-height: 1.25;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border-width: 1px;
  margin-right: 0.5rem;
}

header, main {
  margin: 0 auto;
}

header {
  width: 75vw;
}

header {
  margin-top: 2rem;
}

p {
  font-size: 1.25rem;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    text-decoration: underline;
  }
}

h1, h2, h3, h4, h5, h6, fieldset {
  margin-bottom: 2rem;
}

h1 {
  line-height: 1;
}

button {
  background: var(--color-button);
  font-size: 1.5rem;
  border: 1px solid var(--color-button);
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
  cursor: pointer;
  box-shadow: 2px 2px rgb(205, 210, 198, 0.5);
}

button:hover {
  transition: box-shadow 0.2s;
  box-shadow: 2px 2px rgb(205, 210, 198, 1);
}

button:focus {
  transform: scale(0.98);
  box-shadow: 2px 2px rgb(205, 210, 198, 1);
}

button.orange {
  background: var(--color-button-orange);
}

button.white {
  background: var(--color-button-white);
}

button.small {
  font-size: 1rem;
}

.float-right {
  float: right;
  margin-right: 0;
}

/*** error message ***/
.error-message {
  background: var(--vt-c-orange);
}

.error-message p {
  margin: 0 auto;
  padding: 1rem 0;
  width: 75vw;
}

/*** search form ***/
.search-form-container {
  background: var(--vt-c-brown-soft);
}

.search-form {
  margin: 0 auto 3rem auto;
  font-size: 1.5rem;
  padding: 1.5rem 0;
  width: 75vw;
}

.search-form fieldset {
  border: 0;
  padding: 0;
  position: relative;
  line-height: 2.25;
  margin-bottom: 1rem;
}

.search-form fieldset > div {
  display: inline-block;
}

.search-form fieldset legend {
  font-size: 1.5rem;
  line-height: 2.25;
}

.buttons {
  text-align: right;
}

/*** search results cards ***/
.search-result-card {
  text-align: left;
  font-size: 1rem;
  background: #fff;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid var(--vt-c-orange);
  cursor: pointer;
  page-break-inside: avoid;
  flex: 1;
}

.search-result-card-image {
  width: 100%;
  height: auto;
  background: var(--vt-c-orange);
}

.search-result-card-image img {
  width: 100%;
  display: block;
  margin-bottom: 1rem;
}

.search-result-card-body {
  font-weight: bold;
}